@model List<RegTempus.ViewModels.PresentRegisteredTimeViewModel>

@{
    ViewData["Title"] = "PresentRegistrations";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="nav-bar navbar-expand-sm">
    <div class="row">
        <div class="col-4 col-sm-4 col-md-2">
            <form asp-controller="Home" asp-action="Index" method="get">
                <input class="btn btn-primary" type="submit" name="name" value="Register Time" />
            </form>
        </div>

        <div class="col-2 col-sm-2 col-md-1">
            <form asp-controller="Home" asp-action="PresentRegistrations" method="post">
                <div class="">
                    <input class="btn btn-secondary" type="submit" value="Prev" />
                    <input type="hidden" value=@ViewBag.RegistratorId name="registratorId" />
                    <input type="hidden" value=@ViewBag.PrevMonth name="currentDate" />
                </div>

            </form>
        </div>

        <div class="col-4 col-sm-4 col-md-3">
            <span class="navbar-brand">
                @ViewBag.Month
            </span>
        </div>

        <div class="col-2 col-sm-2 col-md-1">
            <form asp-controller="Home" asp-action="PresentRegistrations" method="post">
                <input class="btn btn-secondary" type="submit" value="Next" />
                <input type="hidden" value=@ViewBag.RegistratorId name="registratorId" />
                <input type="hidden" value=@ViewBag.NextMonth name="currentDate" />
            </form>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-1 col-sm-1 col-md-1">
        <span>Day</span>
    </div>
    <div class="col-2 col-sm-2 col-md-2">
        <span>Start</span>
    </div>
    <div class="col-2 col-sm-2 col-md-2">
        <span>Stop</span>
    </div>
    <div class="col-3 col-sm-3 col-md-3">
        <span>Break</span>
    </div>
    <div class="col-3 col-sm-3 col-md-3">
        <span>Work Time</span>
    </div>
    <div class="col-1 col-sm-1 col-md-1">

    </div>
</div>
<hr />
@if (Model.Count == 0)
{
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <span>No time is registered for this month!!</span>
        </div>
    </div>
}
else
{
    @foreach (var day in Model)
    {
        <div class="row ">
            <div class="col-1 col-sm-1 col-md-1">
                @day.Day
            </div>
            <div class="col-2 col-sm-2 col-md-2">
                <div>
                    @day.TimeStart.ToShortTimeString()
                    @*<button class="" onclick="copyToClipboard('@day.TimeStart.ToShortTimeString()')">
                            <i class="far fa-copy"></i>
                        </button>*@
                </div>

            </div>
            <div class="col-2 col-sm-2 col-md-2">
                <div>
                    @day.TimeStop.ToShortTimeString()
                    @*<button class="" onclick="copyToClipboard('@day.TimeStop.ToShortTimeString()')">
                            <i class="far fa-copy"></i>
                        </button>*@
                </div>

            </div>
            <div class="col-3 col-sm-3 col-md-3">
                <div>
                    @day.TimeBreakString
                    @*<button class="" onclick="copyToClipboard('@day.TimeBreakString')">
                            <i class="far fa-copy"></i>
                        </button>*@
                </div>
            </div>
            <div class="col-3 col-sm-3 col-md-3">
                <div>
                    @day.TimeRegisteredString
                    @*<button class="" onclick="copyToClipboard('@day.TimeRegisteredString')">
                            <i class="far fa-copy"></i>
                        </button>*@
                </div>
            </div>
            <div class="col-1 col-sm-1 col-md-1"></div>
        </div>
        <hr />
    }
}
